footer {
  margin-top: 4rem;
  padding: 0 2rem 1rem 0;
  .content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-device-width: 500px) {
      flex-direction: column;
      gap: 0.25rem;
    }

    .copyrights {
      padding-left: 1rem;
      white-space: nowrap;
    }

    .legal-links {
      display: flex;
      flex-direction: column;
      @media screen and (max-device-width: 500px) {
        flex-direction: row;
        gap: 1rem;
      }
      a {
        &,
        &:hover,
        &:active,
        &:visited {
          text-decoration: none;
          color: black;
          cursor: pointer;
        }
      }
    }

    .social-links {
      display: flex;
      gap: 1rem;
    }
  }
}
