:root {
  // brand palette
  --color--lightblue: #33b4ff;
  --color--darkblue: #1c3aff;
  --color--purple: #775cff;
  --color--pink: #ff4ab1;
  --color--red: #fe3508;
  --color--yellow: #feae06;
}

body {
  overflow-x: hidden;
}
